@tailwind base;
@tailwind components;
@tailwind utilities;

.post-card {
  max-width: 500px;
  margin: 16px auto;
  padding: 16px;
  background: #1e293b; /* slate-800 */

  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-card h2 {
  font-size: 1.2rem;
  line-height: 1.25;
  font-weight: 700;
  color: #f1f5f9; /* slate-100 */
}

.post-card img {
  width: 100%;
  max-height: 450px;
  border-radius: 12px;
}

.post-textarea {
  padding: 8px 16px;
  border-radius: 12px;
}
